<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Proyects</h1>
            <h3 class="mb-5">
                <em>Store your proyects</em>
            </h3>
            <a href="/signin">Let's started</a>
        </div>
    </header>
</main>